@import "./utils/config";

.nav {
	width: 100vw;
	padding: 1rem 0;
	color: #fff;
	background-color: #333;

	.nav-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.nav-title {
		font-size: $h2-size;
		font-weight: $font-lite;
		color: $light-col;
	}

	.nav-username {
		font-size: $h4-size;
		font-weight: $font-lite;
		color: $light-col;
	}

	.nav-logout-btn {
		font-size: $h4-size;
		color: $light-col;
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;

		&:hover {
			color: $primary-col;
		}
	}

	.nav-user-link {
		font-size: 1.5rem;
		color: $light-col;
	}
}
